@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import '../components/Header/Header.scss';
@import '../components/Intro/Intro.scss';

body{
    background: linear-gradient(30deg, #fff 50%, #fb9333 150%);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 40px 100px;
    padding: 0;
}

.App {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

  