@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './variables.scss';
@import '../components/Header/Header.scss';
@import '../components/Bodier1/Bodier1.scss';
@import '../components/Bodier2/Bodier2.scss';

body {
    background-image: url('../../public/img/Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.App {
    text-align: center;
}

* {
    font-family: 'Roboto', sans-serif;
}