@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$cor-pri: #32C5D4;
$cor-sec: #FFFFFF;

@import '../components/Header/Header.scss';
@import '../components/Bodier1/Bodier1.scss';
@import '../components/Bodier2/Bodier2.scss';
@import '../components/Bodier3/Bodier3.scss';
@import '../components/Bodier4/Bodier4.scss';

body {
    background-image: url('../../public/img/Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.App {
    text-align: center;
}

* {
    font-family: 'Poppins', sans-serif;
}