.info {
    background-image: url('../../public/img/back-bodier2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: -100px 0px;
    padding: 40px 465px;

    .info-text {
        color: $cor-sec;
        grid-column: 1 / 2;
        grid-row: 1;
        text-align: justify;
        gap: 30px;

        h1 {
            font-size: 35px;
            font-weight: 700;
        }

        h2 {
            font-size: 14px;
            color: $cor-pri;
        }
    }

    .img {
        grid-column: 2 / 2;
        grid-row: 1;
    }

    .info-text-bot {
        color: $cor-sec;
        grid-column: span 2;
        grid-row: 2;
        text-align: justify;
    }
}