@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #010510;
    padding: 0px 135px;
    color: #FFF;
    background-image: url(../../assets/slide.png);
    background-repeat: no-repeat;
    background-position: right 0% top 4%;
    background-size: 30%;
}