.Bodier1 {
    display: flex;
    flex-direction: row;
    text-align: start;
    gap: 40px;
    margin: 210px 250px;
    padding: 0;

    .Bodier1-l {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;

        p {
            font-size: 40px;
            font-weight: bolder;
        }

        img {
            box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
        }
    }

    .Bodier1-r {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 50%;

        .back {
            background-color: $cor-pri;
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);

            p {
                width: 75%;
                font-size: 20px;
                color: #000;
            }
        }

        button {
            border: solid 1px $cor-pri;
            border-radius: 20px;
            padding: 15px 30px;
            color: $cor-pri;
            background-color: none;
            font-weight: 700;
            cursor: pointer;
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);

            &:hover {
                border: solid 1px $cor-sec;
                border-radius: 20px;
                padding: 15px 30px;
                color: $cor-sec;
                background-color: $cor-pri;
                transition: 0.2;
            }
        }
    }
}